/* Reset CSS */

/* Box sizing rules */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* Remove default margin and padding */
  body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, figure, table, blockquote {
    margin: 0;
    padding: 0;
  }
  
  /* Set core body defaults */
  body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
  }
  
  /* Remove list styles on ul, ol elements */
  ul, ol {
    list-style: none;
  }
  
  /* Make images fluid */
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Reset hyperlink styles */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Remove border on linked images */
  a img {
    border: none;
  }
  
  /* Remove all animations and transitions for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-play-state: paused !important;
      transition: none !important;
    }
  }
  
  /* End Reset CSS */
  