body{
    background: black;
    /* filter:opacity(90%); */
    background-image: url("./../images/fondo.jpeg");
}

html {
    scroll-behavior: smooth;

}

header{
    background: rgb(143, 1, 1);
    filter:opacity(95%);
    color: white;
    margin: 10px 10px;
    border-radius: 6px;
    padding: 5px;
    min-width: 350px;
}

.contenedor{
    margin: 0px 102px;
}

.logo{
    width: 10%;
    text-align: left;
}

.miNav {
    background: linear-gradient(#9c0a03, #c20b02, #9c0a03);
    padding: 10px; /* Espaciado interno */
    border-radius: 6px;
    text-align: center;
    border: 1px solid #cd0e04;

}

.miNav:hover{
    background: linear-gradient(#9c0a03, #cd0c02, #9c0a03);
    border-radius: 6px;
}

.miNav ul {
    list-style-type: none; /* Elimina los estilos de la lista */
    margin: 0;
    padding: 0;
}

.miNav li {
    display: inline-block; /* Los elementos de la lista se colocan en línea */
    margin-right: 20px; /* Espaciado entre elementos de la lista */
}

.miNav a {
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
    color: white; /* Color del texto */
    transition: color 0.1s ease; /* Agrega una transición suave al color del texto */
}

.miNav a:hover {
    color: rgb(255, 255, 255);
}

.titulo{
    color: white;
    text-align: left;
}

.subTitulo{
    color: white;
    text-align: center;
}

.card{
    background: linear-gradient(white, rgb(192, 190, 190), white);
    opacity: 95%;
}

.card li{
    background: linear-gradient(white, rgb(192, 190, 190), white);
    border-radius: 6px;
    margin-bottom: 5px;
    opacity: 95%;
}

.card ul{
    /* background: linear-gradient(#9c0a03, #f74d44, #9c0a03); */
    border-radius: 6px;
    opacity: 95%;
}

.imgEnlace{
    cursor: pointer;
}

.divContTarjeta{
    background: linear-gradient(rgba(156, 10, 3, 0.9), rgba(224, 29, 18, 0.8), rgba(156, 10, 3, 0.8));
    border-radius: 6px;
    margin: 5px;
}

.formInput{
    background: rgba(85, 5, 1, 0.4)!important;
    color: white;
    border-radius: 6px;
    border-color: #eae2e1;
    margin-bottom: 3px;
    text-align: center;
    border-style: inherit;
}

::placeholder{
    color: rgba(255, 255, 255, 0.539);
}

.labelInput{
    padding-right: 20px;
    margin-top: 2px;

    color: white;
}

.hrInput{
    color: rgb(255, 255, 255);
}
.bottons{
    color: white;
    border-color: rgba(255, 255, 255, 0.749);
    margin: 0 auto;
    display: block;
    width: 90%
}

.bottons:hover{
    background: #eae2e134;
    color: white;
}

.alerta{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(156, 11, 3, 0.2), rgb(224, 28, 18, 0.2), rgb(156, 11, 3, 0.2));
    color: white;
    font-family: monospace;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
    
}

footer{
    background: linear-gradient(#9c0a03, #e01d12, #9c0a03);
    color: white;
    text-align: center;
    margin: 0px 10px;
    margin-top: 10px;
    border-radius: 6px;
    padding: 5px;
    filter:opacity(95%);
    min-width: 350px;
}

footer p:hover{
    color: white;
    font-size: large;
}

